// {
//   "presets": ["airbnb", "stage-3", "es2015", "react-hmre"],
//   "plugins": "transform-class-properties",
//   "env": {
//     "development": {
//       "presets": [
//         "react-hmre"
//       ],
//       "plugins": ["transform-async-to-generator"]
//     }
//   }
// }


{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-async-to-generator",
    "transform-class-properties",    
  ]
}
