{
  "presets": ["airbnb"],
  "plugins": ["transform-class-properties"],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ],
      "plugins": ["transform-async-to-generator"]
    }
  }
}
